<section class="topicsSlider" id="topicsWrapper">

<section class="topic" style="background-image: url(<%= image_path('speakers/Vladimir-Dashukevich.jpg') %>)">
<pre><span class="name">(Vladimir Dashukevich)</span> {
  XSS Wars.
  The Force Awakens.
} <span class="time">11:20</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Marina-Mironovich.jpg') %>)">
<pre><span class="name">(Marina Mironovich)</span> {
  Three Stories
  About Testing.
} <span class="time">12:10</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Jan-Monschke.jpg') %>)">
<pre><span class="name">(Jan Monschke)</span> {
  Create Collaborative
  Applications Using
  DiffSync.
} <span class="time">13:00</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Mikhail-Larchenko.jpg') %>)">
<pre><span class="name">(Mikhail Larchenko)</span> {
  Testing Isomorphic
  React Apps.
} <span class="time">14:50</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Varvara-Stepanova.jpg') %>)">
<pre><span class="name">(Varvara Stepanova)</span> {
  Styleguide First —
  a New Approach to UI
  Component Development.
} <span class="time">15:40</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Zarema-Khalilova.jpg') %>)">
<pre><span class="name">(Zarema Khalilova)</span> {
  Goodbye, jQuery!
} <span class="time">16:50</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Sergey-Zhigalov.jpg') %>)">
<pre><span class="name">(Sergey Zhigalov)</span> {
  Three Men in a Boat.
  To Say Nothing of the
  Callback.
} <span class="time">17:40</span><span class="date"><span class="separator">, </span>29 Aug 2015</span></pre>
</section>

</section>
