<section class="columnsView" id="programmeSection">

  <ul>
    <li>
      <div style="background-image: url(<%= image_path('speakers/Varvara-Stepanova.jpg') %>);"></div>
      <h3>Сначала стайлгайд — подход к разработке UI компонентов.</h3>
      <p class="speaker">Варвара Степанова</p>
      <p class="from"><a href="https://twitter.com/toivonens" target="_blank">@toivonens</a>, Frontend.fi</p>
      <p class="about">Живая документация по интерфейсам — новый тренд фронтенд-разработки. Следующий логичный шаг — разработка компонентов, начиная со стайлгайда, чтобы сайт документации становился песочницей для новых интерфейсов. Благодаря такому процессу, разработчики могут уйти от привычной «разработки страниц» к разработке независимых компонентов и сборке страниц из них. Разработка ускоряется и повышается надёжность результата. Опыт финских компаний SC5 Online и Elisa в продвижении этого подхода с помощью собственного инструмента в опенсорсе.</p>
    </li>


    <li>
      <div style="background-image: url(<%= image_path('speakers/Mikhail-Larchenko.jpg') %>);"></div>
      <h3>Тестирование изоморфных React приложений.</h3>
      <p class="speaker">Михаил Ларченко</p>
      <p class="from"><a href="https://twitter.com/MLarchanka" target="_blank">@MLarchanka</a>, WebNotBombs</p>
      <p class="about">React – мощный инструмент для создания динамических веб-приложений. Но все более популярными становятся изоморфные проекты, тестирование которых вызывает легкую дрожь у разработчиков. Какими инструментами, и как это делать? Чего бояться? В какую сторону смотреть?</p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Zarema-Khalilova.jpg') %>);"></div>
      <h3>Прощай, jQuery!</h3>
      <p class="speaker">Зарема Халилова</p>
      <p class="from">SPB Frontend</p>
      <p class="about">Спасибо фреймворку jQuery за долгие годы кроссбраузерности и удобных плагинов, но давно пора от него отказываться и писать на настоящем JS.</p>
      <p class="about">Я расскажу как постепенно уйти от использования jQuery и писать код на чистом JavaScript.</p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Vladimir-Dashukevich.jpg') %>);"></div>
      <h3>XSS войны. Пробуждение силы.</h3>
      <p class="speaker">Владимир Дашукевич</p>
      <p class="from"><a href="https://twitter.com/life__777" target="_blank">@life__777</a>, 4front</p>
      <p class="about">В настоящее время много личной информации пользователей хранится в Интернете. Люди привыкли синхронизировать все свои фотографии, контакты или даже информацию о кредитной карте в облаках. И мы, как хорошо квалифицированные веб-разработчики должны дать им уверенность в том, что их данные защищены и кучей парней в масках не сможет их украсть. Я открою вам тайны XSS атак и способы защиты от них. Кроме того, я покажу вам примеры, которые дадут вам понимание о том, как легко XSS-атаки могут быть выполнены, как защитить конфиденциальность пользователей и как использовать различные техники на войне против XSS, как CSP, X-Frame-Options, X-XSS-Protection и другие. Там будет много веселья.</p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Marina-Mironovich.jpg') %>);"></div>
      <h3>Три истории о тестировании.</h3>
      <p class="speaker">Марина Миронович</p>
      <p class="from"><a href="https://twitter.com/obnoxious_mari" target="_blank">@obnoxious_mari</a>, WebNotBombs</p>
      <p class="about">Многие, кто интересовался тестированием, знают как тестировать TODO App (об этом написано в каждой третьей статье о тестировании) и могут процитировать наизусть определение TDD и Unit  тестов из Википедии. Поэтому я об этом рассказывать не буду. Я расскажу три истории о жизни проектов и тестировании. Это истории о том, как начать писать тесты, как их поддерживать и как не разочароваться.</p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Jan-Monschke.jpg') %>);"></div>
      <h3>Создание приложений для совместного редактирования документов с использованием DiffSync.</h3>
      <p class="speaker">Jan Monschke</p>
      <p class="from"><a href="https://twitter.com/thedeftone" target="_blank">@thedeftone</a>, BerlinJS</p>
      <p class="about">Алгоритмы синхронизации данных существуют уже достаточно давно. Первая работа по этой теме была опубликована в 1989 году, а алгоритм, основанный на ней (алгоритм операционального преобразования), фактически стал стандартом для программных продуктов, реализующих совместное редактирование документов.</p>
      <p class="about">В 2009 году был разработан другой алгоритм (алгоритм дифференциальной синхронизации), который упрощает синхронизацию и устраняет ряд проблем, связанных с ней. Это выступление посвящено объяснению нового алгоритма и возможностям его применения в веб приложениях. Кроме того, автор представит свой модуль, который позволяет легко встраивать функционал для совместной работы в другие веб-приложения.</p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Sergey-Zhigalov.jpg') %>);"></div>
      <h3>Трое в лодке, не считая колбэка.</h3>
      <p class="speaker">Сергей Жигалов</p>
      <p class="from"><a href="https://twitter.com/sergey_zhigalov" target="_blank">@sergey_zhigalov</a>, EkbJS</p>
      <p class="about">Наверняка вам часто приходится сталкиваться с аcинхронным кодом. Тратить много времени на то чтобы его прочитать, понять, отладить. Десятки докладов и сотни статей говорят нам как упростить этот процесс: promises, generators, co, thunkify, babel, ... Как в этом всем разобраться?</p>
      <p class="about">Я расскажу об эволюции работы с асинхронным кодом простыми словами: с примерами, в картинках. Какими библиотеками и в каких случаях я пользуюсь. Постараюсь показать как сделать ваш асинхронный код проще! :)</p>
    </li>
  </ul>

</section>
