<section class="topicsSlider" id="topicsWrapper">

<section class="topic" style="background-image: url(<%= image_path('speakers/Vladimir-Dashukevich.jpg') %>)">
<pre><span class="name">(Владимир Дашукевич)</span> {
  XSS войны.
  Пробуждение силы.
} <span class="time">11:20</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Marina-Mironovich.jpg') %>)">
<pre><span class="name">(Марина Миронович)</span> {
  Три истории
  о тестировании.
} <span class="time">12:10</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Jan-Monschke.jpg') %>)">
<pre><span class="name">(Jan Monschke)</span> {
  Создание приложений для
  совместного редактирования
  документов с использованием
  DiffSync.
} <span class="time">13:00</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Mikhail-Larchenko.jpg') %>)">
<pre><span class="name">(Михаил Ларченко)</span> {
  Тестирование изоморфных
  React приложений.
} <span class="time">14:50</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Varvara-Stepanova.jpg') %>)">
<pre><span class="name">(Варвара Степанова)</span> {
  Сначала стайлгайд —
  подход к разработке
  UI компонентов.
} <span class="time">15:40</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Zarema-Khalilova.jpg') %>)">
<pre><span class="name">(Зарема Халилова)</span> {
  Прощай, jQuery!
} <span class="time">16:50</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Sergey-Zhigalov.jpg') %>)">
<pre><span class="name">(Сергей Жигалов)</span> {
  Трое в лодке,
  не считая колбэка.
} <span class="time">17:40</span><span class="date"><span class="separator">, </span>29 Авг 2015</span></pre>
</section>

</section>
