<section class="topicsSlider" id="topicsWrapper">

<section class="topic" style="background-image: url(<%= image_path('speakers/Varvara-Stepanova.jpg') %>)">
<pre><span class="name">(Varvara Stepanova)</span> {
  Styleguide First —
  a New Approach to UI
  Component Development.
} <span class="date">25 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Vladimir-Dashukevich.jpg') %>)">
<pre><span class="name">(Vladimir Dashukevich)</span> {
  XSS Wars.
  The Force Awakens.
} <span class="date">25 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Mikhail-Larchenko.jpg') %>)">
<pre><span class="name">(Mikhail Larchenko)</span> {
  Testing Isomorphic
  React Apps.
} <span class="date">25 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Marina-Mironovich.jpg') %>)">
<pre><span class="name">(Marina Mironovich)</span> {
  Three Stories
  About Testing.
} <span class="date">25 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Jan-Monschke.jpg') %>)">
<pre><span class="name">(Jan Monschke)</span> {
  Create Collaborative
  Applications Using
  Diffsync.
} <span class="date">25 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Mikhail-Larchenko.jpg') %>)">
<pre><span class="name">(Mikhail Larchenko)</span> {
  Testing Isomorphic
  React Apps.
} <span class="date">25 Aug 2015</span></pre>
</section>

<section class="topic" style="background-image: url(<%= image_path('speakers/Zarema-Khalilova.jpg') %>)">
<pre><span class="name">(Zarema Khalilova)</span> {
  Goodbye, jQuery!
} <span class="date">25 Aug 2015</span></pre>
</section>

</section>
