<ul>
  <li><%= link_to image_tag('sponsors/yandex.png'), 'https://company.yandex.ru' %></li>
  <li><%= link_to image_tag('sponsors/xb-software.png'), 'http://xbsoftware.com' %></li>
  <li><%= link_to image_tag('sponsors/soundcloud.png'), 'https://soundcloud.com/pages/contact' %></li>
  <li><%= link_to image_tag('sponsors/sc5.png'), 'http://sc5.io/' %></li>
  <li><%= link_to image_tag('sponsors/productive-mobile.png'), 'http://productivemobile.com' %></li>
  <li><%= link_to image_tag('sponsors/epam.png'), 'http://www.epam.com' %></li>
</ul>
