<ul>
  <li><%= image_tag('sponsors/yandex.png') %></li>
  <li><%= image_tag('sponsors/xb-software.png') %></li>
  <li><%= image_tag('sponsors/soundcloud.png') %></li>
  <li><%= image_tag('sponsors/sc5.png') %></li>
  <li><%= image_tag('sponsors/productive-mobile.png') %></li>
  <li><%= image_tag('sponsors/epam.png') %></li>
</ul>
